<!DOCTYPE html>
<html>

  <head>
  
    <title>Flowthings Coaster Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body>
    <div id="outer">
      <div><p>Welcome to the Coaster Demo Dashboard! It looks like your 
      flowthings application is not set up yet. </p></div>

      <h3> Step 1: Create your IBM Gamification Config </h3>
      <img src="images/01_new_plan.jpg" class="gamification_screen"/>
      <p>
      Go to your app's Bluemix Dashboard, choose "Gamification" and then "New Game Plan". Save your plan then return to the previous screen.
      </p>
      <img src="images/02_copy_keys.jpg" class="gamification_screen"/>
      <p>
      Copy your and your Key, and paste it below, along with your Plan Name you first and last name.
      </p>
      <h3> Step 2: Autogenerate the flowthings.io Application</h3>



      <form action="/setup" method="POST">

      <table style="margin-left:auto; margin-right:auto">
        <tr>
          <td><label for="planName">PlanName: </label></td>
          <td><input type="text" name="planName" id="planName"/></td>
        </tr>
        <tr>
          <td><label for="key">Key: </label></td>
          <td><input type="text" name="key" id="key"/></td>
        </tr>
        <tr>
          <td><label for="firstName">First Name: </label></td>
          <td><input type="text" name="firstName" id="firstName"/></td>
        </tr>
        <tr>
          <td><label for="lastName">Last Name: </label></td>
          <td><input type="text" name="lastName" id="lastName"/></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Create flowthings Application!"/></td>
        </tr>
      </form>
      </table>
    </div>
  </body>


  <script language="JavaScript">

  </script>

</html>
